<%= simple_form_for Track.new do |f| %>
  <h4>Create a new track...</h4>
  <%= f.input :title, label: false, placeholder: 'track title', input_html: { class: 'track-title-input' } %>
  <%= f.input :year, label: false, placeholder: 'track year' %>

  <%= f.input :band_ids, collection: Band.all.pluck(:name, :id), input_html: { class: "selectize", multiple: true }  %>
  <%= f.input :genre_ids, collection: Genre.all.pluck(:name, :id), input_html: { class: "selectize", multiple: true }  %>
  <%= f.input :label_ids, collection: Label.all.pluck(:name, :id), input_html: { class: "selectize", multiple: true }  %>
  <%= f.button :submit %>
<% end %>
