<div class='new-playlist-item'>
  <%= simple_form_for [@episode, @playlist], url: admin_episode_playlists_path do |f| %>
    <%= f.input :time_marker, label: false, placeholder: 'time' %>
    <%= f.input :title, label: false, placeholder: "title" %>
    <%= f.input :track_id, collection: Track.all.pluck(:title, :id), input_html: { class: "selectize" }  %>

    <%= f.button :submit, class: 'create-playlist-btn' %>
  <% end %>
  <%= render 'admin/tracks/form' %>
</div>
