<%= simple_form_for [@show, @episode] do |f| %>
  <%= f.input :title, label: 'Episode Title' %>
  <div id="playlists">
    <%= f.simple_fields_for :playlists do |playlist| %>
      <%= render 'playlist_fields', f: playlist %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add playlist', f, :playlists %>
    </div>
  </div>
  <%= f.button :submit %>
<% end %>
<% if @errors %>
  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>
