<!DOCTYPE html>
<html>
  <head>
    <title>FriendRockRadio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-wrapper">
      <%= render "layouts/header" %>
      <div class="admin-container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
